/*css変数定義*/
:root {
    --primary-bg: #28293E;
    --secondary-bg: #FDE0E9;
    --primary-color: white;
    --secondery-color: #391400;
    --padding-defalut:24px;
    --padding-narrow: 12px;
}

/*bodyリセット*/
body{
    margin: 0px;
}
img{
    width: 100%;
    border-radius: 10px;
}

/*header*/
header{
    color:var(--primary-color);
    background-color: var(--primary-bg);
    padding:  var(--padding-defalut);
}
#logo {
    width: 195px;
}

/*main*/
main{

}
main #main-about{
    color: var(--secondery-color);
    background-color:  var(--secondary-bg);
    padding: var(--padding-defalut);
}
main #main-latestwork{
    color: var(--primary-color);
    background-color: var(--primary-bg);
    padding:  var(--padding-defalut);
}
main #main-latestwork-images{
    padding: var(--padding-narrow);
}

/*footer*/
footer{
    color: var(--primary-color);
    background-color: var(--primary-bg);
}
